@page
@model MealApp.Pages.Types.IndexModel
@{
    <h1>Typy posiłków</h1>

    <form class="mt-2">
            @foreach (var item in Model.TypesOfMealDTO)
            {
                @*Use hidden input elements to store type id which
                we need when we submit the form*@
                <input hidden asp-for="@item.Id" />

                @*asp-for tag helper takes care of displaying the existing
                data in the respective input elements*@
                <div class="form-group row">
                    <label asp-for="@item.TypeName" class="col-sm-1 col-form-label">Nazwa
                    </label>
                    <div class="col-sm-5">
                        <input asp-for="@item.TypeName" class="form-control" readonly>
                    </div>
                    <div class="col-sm-1">
                        <a asp-page="/Types/Edit" asp-route-Id="@item.Id" class="btn btn-primary">Edytuj</a>
                    </div>
                    <div class="col-sm-1">
                        <a asp-page="/Types/Delete" asp-route-Id="@item.Id" class="btn btn-danger">Usuń</a>
                    </div>
                </div>
            }

        <div class="form-group row">
            <div class="col-sm-5">
                <a asp-page="/Types/Add" class="btn btn-primary">Dodaj nowy</a>
            </div>
        </div>
    </form>
}
