@page
@model MealApp.Pages.Meals.EditModel
@using MealApp.Models.Enums
@{
}
<h1>Edycja posiłku</h1>

<form method="post" class="mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input id="mealId" type="hidden" asp-for="MealDTO.Id" />
    <div class="form-group row">
        <label asp-for="MealDTO.MealName" class="col-sm-2 col-form-label">
            Nazwa
        </label>
        <div class="col-sm-6">
            <input asp-for="MealDTO.MealName" class="form-control" placeholder="Nazwa posiłku">
            <span asp-validation-for="MealDTO.MealName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MealDTO.TypeOfMeal" class="col-sm-2 col-form-label">
            Typ
        </label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="MealDTO.TypeOfMeal"
                    asp-items="Html.GetEnumSelectList<TypesOfMeal>()">
            </select>
            <span asp-validation-for="MealDTO.TypeOfMeal" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MealDTO.Description" class="col-sm-2 col-form-label">
            Opis
        </label>
        <div class="col-sm-6">
            <input asp-for="MealDTO.Description" class="form-control" placeholder="Opis">
            <span asp-validation-for="MealDTO.Description" class="text-danger"></span>
        </div>
    </div>
    <hr class="dashed">
    <div class="form-group row">
        <div class="form-group col">
            <label class="col-sm-12 col-form-label">
                Nazwa produktu
            </label>
            <div class="col-sm-12">
                <input id="productSelect" type="text" list="productsToSelect" class="form-control custom-select" autocomplete="on">
                <datalist id="productsToSelect">
                    @foreach (var product in Model.ProductsDTO)
                    {
                        <option id="@product.Id" value="@product.ProductName"></option>
                    }
                </datalist>
            </div>
        </div>
        <div class="form-group col">
            <label class="col-sm-12 col-form-label">
                Ilość (w gramach)
            </label>
            <div class="col-sm-12">
                <input id="quantity" class="form-control" placeholder="Ilość" />
            </div>
        </div>
        <div class="form-group col">
            <label class="col-sm-12 col-form-label">
            </label>
            <div class="col-sm-12">
                <input type="button" value="Dodaj produkt " id="add-row" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div id="myTable" class="datatable" data-hover="true" data-border-color="dark ">
        <table id="productsTable" class="table datatable-table">
            <thead class="datatable-header">
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="datatable-body">
                @foreach (var product in Model.MealDTO.MealProducts)
                {
                    <tr onclick="GetIndex(this)" class="productsRows">
                        <td>
                            <input class="mealId" value="@Model.MealDTO.Id" type="hidden" asp-for="MealDTO.MealProducts[Model.MealDTO.MealProducts.IndexOf(product)].MealId" />

                            <label id=@("MealDTO_MealProducts_" + Model.MealDTO.MealProducts.IndexOf(product) + "__ProductLabelId") class="col-form-label">@product.Product.ProductName</label>
                            <input class="product" type="hidden" asp-for="MealDTO.MealProducts[Model.MealDTO.MealProducts.IndexOf(product)].ProductId" />
                        </td>
                        <td>
                            <label class="col-form-label">@product.Quantity</label>
                            <input class="quantity" type="hidden" asp-for="MealDTO.MealProducts[Model.MealDTO.MealProducts.IndexOf(product)].Quantity" />
                        </td>
                        <td><button type="button" class="btn btn-danger delete-row"><i class="fa fa-close" /></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Aktualizuj</button>
            <a asp-page="/Meals/Index" class="btn btn-danger">Wróć do listy posiłków</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".productsRows").each(function (index) {
            var produkt = document.getElementById('MealDTO_MealProducts_' + index + '__ProductLabelId').textContent;
            HideShowSelected(produkt, false);
        });
        $("#add-row").click(function () {
            var tabela = $('#productsTable tr');
            var wierszy = tabela.length;
            var indeks = wierszy - 1;
            var produkt = GetOptionSelected('value');
            var produktId = GetOptionSelected('id');
            var ilosc = $('#quantity').val();
            var mealId = $('#mealId').val();
            var markup = '<tr onclick="GetIndex(this)" class="productsRows"><td><input class="mealId" type="hidden" value=' + mealId + ' name="MealDTO.MealProducts[' + indeks + '].MealId"/><input id="MealDTO_MealProducts_' + indeks + '__ProductId" class="product" type="hidden" value=' + produktId + ' name="MealDTO.MealProducts[' + indeks + '].ProductId"/><label id="MealDTO_MealProducts_' + indeks + '__ProductLabelId" class="col-form-label">' + produkt + '</label></td><td><input class="quantity" type="hidden" value=' + ilosc + ' id="MealDTO_MealProducts_' + indeks + '__Quantity" name="MealDTO.MealProducts[' + indeks + '].Quantity"><label class="col-form-label">' + ilosc + '</label></td><td><button type="button" class="btn btn-danger delete-row"><i class="fa fa-close"></button></td></tr>';
            $('table tbody').append(markup);
            SetNull();
            HideShowSelected(produkt, false);
        });
    });
    $(document).on("click", ".delete-row", function (e) {
        e.preventDefault();
        var produkt = document.getElementById('MealDTO_MealProducts_' + index + '__ProductLabelId').textContent;
        var parentDiv = $(this).parent().parent();
        $(parentDiv).remove();
        var rows = $(".productsRows");
        for (var tr = 0; tr < rows.length; tr++) {
            var oneRow = rows[tr];
            var newProduct = 'MealDTO.MealProducts[' + tr + '].ProductId';
            var newIdProduct = 'MealDTO_MealProducts_' + tr + '__ProductId'
            $(oneRow).find('.product').attr({ "name": newProduct, "id": newIdProduct });
            var newMeal = 'MealDTO.MealProducts[' + tr + '].MealId';
            $(oneRow).find('.mealId').attr("name", newMeal);
            var newLabelProduct = 'MealDTO_MealProducts_' + tr + '__ProductLabelId';
            $(oneRow).find('.produktLabel').attr("id", newLabelProduct);
            $(oneRow).find('.product').attr({ "name": newProduct, "id": newIdProduct });
            var newQuantity = 'MealDTO.MealProducts[' + tr + '].Quantity';
            $(oneRow).find('.quantity').attr("name", newQuantity);
        };
        HideShowSelected(produkt, true);
        return false;
    });

    function GetOptionSelected(attributeOfOption) {
        const Value = document.querySelector('#productSelect').value;
        if (!Value) return;
        const Id = document.querySelector('option[value="' + Value + '"]').id;
        const option = document.createElement("option");
        option.value = Value;
        option.id = Id;
        if (attributeOfOption == 'value') {
            return option.value;
        }
        else {
            return option.id;
        }
    };

    function GetIndex(x) {
        index = x.rowIndex - 1;
    }

    function HideShowSelected(produkt, hideShow) {
        if (hideShow) {
            document.querySelector('option[value="' + produkt + '"]').removeAttribute('disabled');
        }
        else {
            document.querySelector('option[value="' + produkt + '"]').setAttribute('disabled', true);
        }
    };

    function SetNull() {
        $("#productSelect").val(null);
        document.getElementById("quantity").value = "";
    }
</script>