@page
@model MealApp.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Lista posiłków";
}
<h1>Produkty</h1>

<form method="get">
    <div class="input-group col-sm-10">
        <input id="searchBox" class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </div>
</form>

<p></p>
<div class="form-group row">
    <div class="col-sm-10">
        <a asp-page="/Products/Add" class="btn btn-primary">Dodaj nowy</a>
    </div>
</div>

    <div class="card-deck">
            @foreach (var item in Model.ProductsDTO)
            {
                <div class="card m-3" style="padding: 10px; min-width: 25rem; max-width:50%">
                    <div class="media align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0"> <img src="https://i.imgur.com/Aj0L4Wa.jpg" width="150" height="150" alt=""> </div>
                        <div class="media-body">
                            <h6 class="media-title font-weight-semibold"> <a asp-page="/Products/Edit" asp-route-id="@item.Id">@item.ProductName</a></h6>
                            <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">@item.CategoryName</a></li>
                            </ul>
                            <p class="mb-3">@item.Kcal kcal w @item.QuantityUnit @item.Unit </p>
                        </div>
                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <a asp-page="/Products/Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Usuń</a>
                        </div>
                    </div>
                </div>
            }
    </div>

@*
    // SKRYPT DO WYKORZYSTANIA JEŻELI WYSZUKIWANIE MIAŁOBY BYĆ WYWOŁYWANE PRZEZ AJAX - DO POPRAWY ODŚWIEŻANIE TABELI //

<script type="text/javascript">
var searchRequest = null;

$(function () {
    var minlength = 3;

    $("#searchBox").keyup(function () {
        var that = this,
        value = $(this).val();
        if (value.length >= minlength ) {
            if (searchRequest != null) 
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "GET",
                url: "/Products/",
                data: {
                    'SearchTerm' : value
                },
                dataType: "text",
                success: function(msg){
                    //we need to check if the value is the same
                    if (value == $(that).val()) {
                        console.log(data);
                    //Receiving the result of search here
                    }
                }
            });
        }
    });
});
</script>*@
